 <!DOCTYPE html>
<!--[if lt IE 8]>         <html class="ie8"> <![endif]-->  
<!--[if !IE]><!--> <html><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Blorange</title>
    <link rel="stylesheet" type="text/css" href="css/screen.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/prettyphoto.css" media="screen" />
    
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/roundabout.js" type="text/javascript"></script>
    <script src="js/quicksand.js" type="text/javascript"></script>
    <script src="js/easing.js" type="text/javascript"></script>
    <script src="js/prettyphoto.js" type="text/javascript"></script>
    <script src="js/cycle.js" type="text/javascript"></script>
    <script src="js/html5form.js" type="text/javascript"></script>
    <script src="js/scripts.js" type="text/javascript"></script>
    
    <!--[if lt IE 8]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
	<div id="wrap">
    	
        <!-- BEGIN HEADER -->
    	<header id="secondaryHeader">
        	<div id="headerContent">
            	<a href="index.html" id="headerLogo"><img src="img/logo.png" width="152" height="31" alt="logo" /></a>
                <nav>
                    <ul>
                        <li>
                        	<a href="#">Home</a>
                        	<ul class="submenu">
                                <li><a href="index.html">Homepage Slider</a></li>
                                <li><a href="index-slideshow.html">Homepage Slideshow</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li>
                        	<a href="#">Portfolio</a>
                            <ul class="submenu">
                                <li><a href="portfolio-3-columns.html">Three columns</a></li>
                                <li><a href="portfolio-4-columns.html">Four columns</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="services.html">Services</a>
                            <ul class="submenu">
                                <li><a href="read-more.html">Read More</a></li>
                                <li><a href="404.html">Not Found</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html" class="selectedPage">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
                <h1 class="desyrel">Our Blog<span>Lorem ipsum dolor sit amet abitir est nullam, forsem pater allum</span></h1>
            </div><!-- #headerContent -->
        </header>
        <!-- END HEADER -->
        
        <!-- BEGIN CONTENT -->
        <section id="content">
        	<span id="secondaryContentTop"></span>
        	<div id="secondaryContent">
            	<section id="blog">
                    <section id="leftColumn">
                    
                    	<!-- BLOG POST DETAILS -->
                    	<article class="blogPost">
                        	<div class="blogPostInfo">
                            	<span><b>11</b>AUG</span>
                                <div>
                                    <a href="blog-post.html" class="blogPostTitle"><h1>This is the title of your first post on one line.</h1></a>
                                    <ul>
                                        <li class="blogInfoAuthor">Posted by: <a href="#">John Doe</a></li>
                                        <li class="blogInfoCategory">Under: <a href="#">Web design</a></li>
                                        <li class="blogInfoComments">10 comments</li>
                                    </ul>
                                </div>
                            </div><!-- .blogPostInfo -->
                            
                            <!-- BLOG POST IMAGE -->
                            <a href="blog-post.html" class="blogPostImage"><img src="img/blog/img-blog-post1.jpg" width="530" height="270" alt="blog post image"></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis. Sed non neque sem. Curabitur eu libero metus. Aliquam interdum, est at.</p>
                            <h3>This is a subtitle in your blog post.</h3>
                            <p>Consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis. Sed non neque sem. Curabitur eu libero metus. Aliquam interdum, est at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis.</p>
                            <blockquote>Consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis. Sed non neque sem. Curabitur eu libero metus. Aliquam interdum, est at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum, est at.</blockquote>
                            <p>Consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis. Sed non neque sem. Curabitur eu libero metus. Aliquam interdum, est at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis. Sed non neque sem. Curabitur eu libero metus. Aliquam interdum, est at.</p>
                            <p class="textWithImage">
                            	<img src="img/blog/img-blog-small.jpg" width="100" height="100" alt="blog image">
                                <span>Consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis. Sed non neque sem. Curabitur eu libero metus. Aliquam interdum, est at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem.</span>
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis. Sed non neque sem. Curabitur eu libero metus. Aliquam interdum, est at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et.</p>
                            <ul class="blogPostList">
                            	<li>Quisque augue lorem, vehicula et ultrices in, consequat vitae felis lorem ipsum.</li>
                                <li>Quisque augue lorem, vehicula et ultrices in, consequat vitae felis lorem ipsum.</li>
                                <li>Quisque augue lorem, vehicula et ultrices in, consequat vitae felis lorem ipsum.</li>
                                <li>Quisque augue lorem, vehicula et ultrices in, consequat vitae felis lorem ipsum.</li>
                            </ul>
                            <ul class="blogPostTags">
                            	<li><a href="#">web</a></li>
                                <li><a href="#">design</a></li>
                                <li><a href="#">navigation</a></li>
                                <li><a href="#">seo</a></li>
                                <li><a href="#">graphics</a></li>
                            </ul>
                        </article><!-- .blogPost -->
                        
                        <hr class="sectionSeparator">
                        
                        <!-- POST COMMENTS -->
                        <section class="postComments">
                        	<h2 class="desyrel">3 Comments</h2>
                            <ul>
                            	<li>
                                	<div>
                                    	<b>John Doe</b>
                                        <span>On Aug 11 2012, 1:55 pm</span>	
                                    </div>
                                    <a href="#" class="postCommentReply">Reply</a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis. Sed non neque sem. Curabitur eu libero metus. Aliquam interdum, est at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis.</p>
                                    <ul>
                                    	<li>
                                            <div>
                                                <b>John Doe</b>
                                                <span>On Aug 11 2012, 1:55 pm</span>	
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis. Sed non neque sem.</p>
                                    	</li>
                                        <li>
                                            <div>
                                                <b>John Doe</b>
                                                <span>On Aug 11 2012, 1:55 pm</span>	
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis. Sed non neque sem.</p>
                                    	</li>
                                    </ul>
                                </li>
                                <li>
                                	<div>
                                    	<b>John Doe</b>
                                        <span>On Aug 11 2012, 1:55 pm</span>	
                                    </div>
                                    <a href="#" class="postCommentReply">Reply</a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis. Sed non neque sem. Curabitur eu libero metus. Aliquam interdum, est at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis.</p>
                            	</li>
                            </ul>
                            
                            <hr class="sectionSeparator">
                            
                            <!-- COMMENTS FORM -->
                            <form id="postCommentsForm" action="#">
                            	<fieldset>
                                    <h2 class="desyrel">Leave us a comment</h2>
                                    <input type="text" placeholder="Name" name="name" id="name" title="Name" required>
                                    <input type="email" placeholder="youremail@yourdomain.com" name="email" id="email" title="Email" required />
                                    <textarea placeholder="Message" name="message" id="message" title="Message" required></textarea>
                                    <input type="submit" value="SEND IT" id="submitPostComment">
                                    <div id="response"></div>
                                </fieldset>
                            </form>
                        </section><!-- .postComments -->
                    </section><!-- #leftColumn -->
                    
                    <section id="rightColumn">
                    
                    	<!-- BLOG SEARCH -->
                    	<section class="blogSearch">
                        	<h2 class="desyrel">Search the Blog</h2>
                            <form action="#">
                            	<fieldset>
                                	<input type="text">
                                    <input type="submit" value="" class="submitBlogSearch">
                                </fieldset>
                            </form>
                        </section><!-- .blogSearch -->
                        
                        <!-- BLOG CATEGORIES -->
                        <section class="blogCategories">
                        	<h2 class="desyrel">Categories</h2>
                            <ul>
                            	<li><a href="#" class="selectedBlogCategory">Web design</a><span>16</span></li>
                                <li><a href="#">Web design</a><span>16</span></li>
                                <li><a href="#">Web design</a><span>16</span></li>
                                <li><a href="#">Web design</a><span>16</span></li>
                                <li><a href="#">Web design</a><span>16</span></li>
                                <li><a href="#">Web design</a><span>16</span></li>
                                <li><a href="#">Web design</a><span>16</span></li>
                            </ul>
                        </section><!-- .blogCategoriesh -->
                        
                        <!-- BLOG ARCHIVES -->
                        <section class="blogArchives">
                        	<h2 class="desyrel">Archives</h2>
                            <ul>
                            	<li><a href="#" class="selectedBlogCategory">Web design</a><span>16</span></li>
                                <li><a href="#">Web design</a><span>16</span></li>
                                <li><a href="#">Web design</a><span>16</span></li>
                                <li><a href="#">Web design</a><span>16</span></li>
                                <li><a href="#">Web design</a><span>16</span></li>
                                <li><a href="#">Web design</a><span>16</span></li>
                                <li><a href="#">Web design</a><span>16</span></li>
                            </ul>
                        </section><!-- .blogArchives -->
                        
                        <!-- RECENT COMMENTS -->
                        <section class="blogRecentComments">
                        	<h2 class="desyrel">Recent Comments</h2>
                            <ul>
                            	<li>
                                	<span>On 11 Aug</span>
                                    <a href="blog-post.html">The Title of your post</a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis.</p>
                                </li>
                                <li>
                                	<span>On 11 Aug</span>
                                    <a href="blog-post.html">The Title of your post</a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis.</p>
                                </li>
                                <li>
                                	<span>On 11 Aug</span>
                                    <a href="blog-post.html">The Title of your post</a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis.</p>
                                </li>
                            </ul>
                        </section><!-- .blogRecentComments -->
                        
                        <!-- ACCORDION -->
                        <section class="blogAccordion">
                        	<h2 class="desyrel">Accordion</h2>
                            <ul class="accordion">
                                <li><a href="#" class="activeAccordion">This is an accordion title</a>
                                    <ul>
                                        <li>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat.
                                        </li>
                                        <li>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat.
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">This is an accordion title</a>
                                    <ul>
                                        <li>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat.
                                        </li>
                                        <li>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat.
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">This is an accordion title</a>
                                    <ul>
                                        <li>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat.
                                        </li>
                                        <li>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat.
                                        </li>
                                    </ul>
                                </li>
							</ul>
                        </section><!-- .blogAccordion -->
                        
                        <!-- TABS -->
                        <section class="blogTabs">
                        	<h2 class="desyrel">Tabs Widget</h2>
                            <ul class="tabs">
                                <li class="current">Recent Posts</li>
                                <li>Popular Posts</li>
                            </ul>
                            <div class="box visible">
                            	<ul>
                                	<li>
                                        <img src="img/img-thumb.jpg" width="42" height="42" alt="image thumb">
                                        <a href="blog-post.html">Lorem ipsum dolor sit ame, consectetur adipis elit.</a>
                                        <span>On Aug 11</span>
                                	</li>
                                    <li>
                                        <img src="img/img-thumb.jpg" width="42" height="42" alt="image thumb">
                                        <a href="blog-post.html">Lorem ipsum dolor sit ame, consectetur adipis elit.</a>
                                        <span>On Aug 11</span>
                                	</li>
                                    <li>
                                        <img src="img/img-thumb.jpg" width="42" height="42" alt="image thumb">
                                        <a href="blog-post.html">Lorem ipsum dolor sit ame, consectetur adipis elit.</a>
                                        <span>On Aug 11</span>
                                	</li>
                                </ul>
                            </div>
                            <div class="box">
                            	<ul>
                                	<li>
                                        <img src="img/img-thumb.jpg" width="42" height="42" alt="image thumb">
                                        <a href="blog-post.html">Lorem ipsum dolor sit ame, consectetur adipis elit.</a>
                                        <span>On Aug 12</span>
                                	</li>
                                    <li>
                                        <img src="img/img-thumb.jpg" width="42" height="42" alt="image thumb">
                                        <a href="blog-post.html">Lorem ipsum dolor sit ame, consectetur adipis elit.</a>
                                        <span>On Aug 12</span>
                                	</li>
                                    <li>
                                        <img src="img/img-thumb.jpg" width="42" height="42" alt="image thumb">
                                        <a href="blog-post.html">Lorem ipsum dolor sit ame, consectetur adipis elit.</a>
                                        <span>On Aug 12</span>
                                	</li>
                                </ul>
                            </div> 
                        </section><!-- .blogTabs -->
                        
                        <!-- TESTIMONIALS -->
                        <section class="testimonials">
                        	<h2 class="desyrel">Testimonials</h2>
                            <ul>
                            	<li>
                                	<blockquote>
                                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis.
                                        <span>John Doe, Company Name</span>
                                    </blockquote>
                                </li>
                                <li>
                                	<blockquote>
                                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue lorem, vehicula et ultrices in, consequat vitae felis.
                                        <span>John Doe, Company Name</span>
                                    </blockquote>
                                </li>
                            </ul>
                        </section><!-- .testimonials -->
                    </section><!-- #rightColumn -->
                </section><!-- #blog -->
            </div><!-- #secondaryContent -->
            <span id="secondaryContentBottom"></span>
        </section><!-- #content -->
        <!-- END CONTENT -->
        
        <!-- BEGIN FOOTER -->
        <footer>
        
        	<!-- FOOTER CONTACT -->
            <section id="footerContact">
            	<h2 class="desyrel">Expect your business will sure be our priority!</h2>
                <a href="contact.html">Contact Us!</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tellus orci, imperdiet at tincatetur lorem.</p>
            </section><!-- #footerContact -->
            
            <!-- MAIN FOOTER AREA -->
        	<section id="footerMain">
            	<span id="footerMainTop"></span>
                <div id="footerMainContent">
                    <div id="footerLeft">
                        <h2 class="desyrel">About Us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget erat turpis. Curabitur auctor nisl eget velit auctor condim. Nulla non turpis leo, ac rhon.
                        <br /><br />
                        Sed imperdiet molestie enim, non pellentesque velit placerat a. Mauris vestibulum porta nisi ac aliquam. Nullam ultricies eros a metus aliqu non pellentesque velit.</p>
                    </div><!-- #footerLeft -->
                    
                    <div id="footerRight">
                        <ul id="socialize">
                            <li><h2 class="desyrel">Socialize With Us</h2></li>
                            <li><a href="#" id="socialFacebook">facebook</a></li>
                            <li><a href="#" id="socialTwitter">twitter</a></li>
                            <li><a href="#" id="socialGoogle">google</a></li>
                            <li><a href="#" id="socialLinkedin">linkedin</a></li>
                            <li><a href="#" id="socialYoutube">youtube</a></li>
                            <li><a href="#" id="socialYahoo">yahoo</a></li>
                        </ul><!-- #socialize -->
                        <div id="latestTweet">
                            <h2 class="desyrel">Latest Tweet</h2>
                            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget erat turpis. <a href="#">Curabitur auctor nisl auctor.</a>”</p>
                        </div><!-- #latestTweet -->
                    </div><!-- #footerRight -->
                    
                    <ul id="flickrStream">
                        <li><h2 class="desyrel">Flickr stream</h2></li>
                        <li class="stringSeparator"></li>
                        <li><a href="#"><img src="img/img-flickr1.jpg" width="114" height="114" alt="flickr image" /></a></li>
                        <li class="stringSeparator"></li>
                        <li><a href="#"><img src="img/img-flickr2.jpg" width="114" height="114" alt="flickr image" /></a></li>
                        <li class="stringSeparator"></li>
                        <li><a href="#"><img src="img/img-flickr3.jpg" width="114" height="114" alt="flickr image" /></a></li>
                        <li class="stringSeparator"></li>
                        <li><a href="#"><img src="img/img-flickr4.jpg" width="114" height="114" alt="flickr image" /></a></li>
                        <li class="stringSeparator"></li>
                        <li><a href="#"><img src="img/img-flickr5.jpg" width="114" height="114" alt="flickr image" /></a></li>
                    </ul><!-- #flickrStream -->
                </div><!-- #footerMainContent -->
                <span id="footerMainBottom"></span>
            </section><!-- #footerMain -->
            
            <!-- BOTTOM INFO -->
            <ul id="footerInfo">
                <li><img src="img/footer-logo.png" width="30" height="30" alt="footer logo" /></li>
                <li>123 Your Company Street, Your City, 0123456 Your State</li>
                <li>&copy; 2012 Your Company | All rights reserved | Designed by Mihai</li>
                <li>Tel: 0800 123 456 7890 | hello@yourcompany.com</li>
                <li><a href="http://www.graphicriver.net/user/mihaai">www.graphicriver.net/user/mihaai</a></li>
            </ul><!-- #footerInfo -->
        </footer><!-- #footer -->
        <!-- END FOOTER -->
        
    </div><!-- #wrap -->
</body>
</html>
